.página-contactos{
    justify-content: center;    
    align-items: center;
    position: relative;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

.página-contactos header{
    background-color: var(--secondary-color);
    position: relative; 
    margin-top: 13vh; 
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.página-contactos header::before{    
    content:"";
    background-image: url("/public/images/contactos/img1.jpeg");
    background-size:cover;
    background-position-y: 59%;
    position: absolute;
    display: inline;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    width: 100%;
}

.página-contactos h1{
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--secondary-font);  
    color: var(--secondary-color);  
    position: relative;
    font-size: 5em;
    line-height: 0.9;
    text-align: center;
}

.página-contactos main{
    display: flex;
    flex-direction: row;    
    text-align:center;
    font-weight: 100;
    line-height: 1.5em;
    margin: 1vh 5vw; 
    color: var(--primary-color);
    transition: transform .2s
}


.página-contactos main h2{
    text-transform: uppercase;
    font-family: var(--secondary-font)
    ;
    font-size: 1.4em;
    color: var(--primary-color);
    text-align: center;
    margin: 1.5em 0 1em;
    font-weight: 200;
}

.página-contactos main a{
    color: var(--primary-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.página-contactos main a:hover{
    color: var(--secondary-color);  
}

.página-contactos span{
    font-weight: bold;
}


.map, .contactos, .horários{
    margin: 0 4em;
}

.map-img{    
    max-width: 30vw;
}


/* MEDIA QUERIES */

@media screen and (max-width:1024px) {
    .map, .contactos, .horários{
        margin: 0 2em;
    }
}

@media screen and (max-width:800px) {
    .página-contactos main{
        display: flex;
        flex-direction: column;    
        text-align: center;
        font-size: .7em; 
        margin: 1vh 20vw 20vh;
        font-size: 1.1em;
        height: 80vh;
    }
        
    .map-img{
        max-width: 50vw;
    }
    .página-contactos header{
        height: 17vh;
        font-size: .5em;
    }
            
    .página-contactos header::before{
        background-position-y: 60%;
    }
}

@media screen and (max-width:500px) {
    .map-img{
        max-width: 70vw;
    }
    .página-contactos main{
      margin: 0;
      height: 90vh;
    }
}

@media screen and (max-width:300px){
    .página-contactos main{
    word-break: break-all;
    }
} 


