footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 5vh;
    font-size: .8em;
    position: fixed;
    bottom: 0;
    color:var(--primary-color);
    background-color: rgba(0, 0, 0, 0.6);
}

.social-media ul{
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    right: 0;
    position: fixed;
    bottom: 0;
    margin: 1vh 1vw;
}

.social-media img{
    width:14px;

    transition:all ease .2s;
}

.social-media img:hover{
    width: 10px;
}

.social-media-images{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1vh 1vw;

}

.info a{
    text-decoration: none;
    color: var(--primary-color); 
    box-shadow: inset 0 0 0 0 var(--primary-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.info a:hover {
    box-shadow: inset 300px 0 0 0 var(--primary-color);
    color: var(--secondary-color);  
}

@media screen and (max-width:650px){
    .info{
        font-size: .75em;
        left: unset;
        height: 3px;
    }
    .social-media ul{
        position: relative;
        font-size: .75em;
        right: unset;
    }
    .social-media img{
        width:10px;
        transition: all ease .2s;
    }
    .social-media img:hover{
        width: 9px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:255px){
    footer{
        display: none;
    }
}





