.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 13vh;
    z-index: 1;
}

/* NAV */

.navbar ul{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    list-style: none;
    padding: 0;
    color: var(--primary-color);
    margin-right: 2vw;

}

.navbar li{
    margin: 0 2vw 0 0;
}

.navbar a{
    text-decoration: none;
    font-size: .85em;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: inset 0 0 0 0 var(--primary-color);
    color: var(--primary-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navbar a:hover {
    box-shadow: inset 200px 0 0 0 var(--primary-color);
    color: var(--secondary-color);  
}

/* LOGO */

.logo img{
    width: 10em;
    margin: 2vh 25vw 1.5vh 2vw ;
}

/* HAMBURGUER */

.hamburguer{
    position: absolute;
    right: 0;
    margin-bottom: .5vh;
} 

.hamburguer button{
    background: none;
    border: none;
    cursor: pointer;
}

.hamburguer img{
    width: 2.5em;   
}

/* MEDIA QUERIES */

@media screen and (max-width:750px){
    .navbar ul{
        display: none;
    }
}
@media screen and (min-width:750px){
   .hamburguer{
    display: none;
    }
}





        
