.página-contactos header{
    background-color: var(--secondary-color);
    position: relative; 
    margin-top: 13vh; 
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.página-contactos header::before{    
    content:"";
    background-image: url("/public/images/contactos/img1.jpeg");
    background-size:cover;
    background-position-y: 58%;
    position: absolute;
    display: inline;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    width: 100%;
}

.página-contactos header h1{
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--secondary-font);  
    color: var(--secondary-color);  
    position: relative;
    font-size: 5em;
    line-height: 0.9;
    text-align: center;
}

.página-contactos main{
    display: flex;
    flex-direction: row;
    text-align:justify;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 5vw; 
    font-size: 1em;
    color: var(--primary-color);
    transition: transform .2s
}



.página-contactos main h2{
    text-transform: uppercase;
    font-family: var(--secondary-font)
    ;
    font-size: 1.4em;
    color: var(--primary-color);
    text-align: center;
    margin: 1.5em 0;
    font-weight: 200;
}

.página-contactos main a{
    color: var(--primary-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.página-contactos main a:hover{
    color: var(--secondary-color);  
}

.página-contactos main div{
    margin: 0 2em;
}

.contactos span{
    font-weight: bold;
}

@media screen and (max-width:1082px){
    .página-contactos main{
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
    }
}
