
.garrafeira header{
    background-color: var(--secondary-color);
    position: relative; 
    margin-top: 13vh; 
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}


.garrafeira header::before{    
    content:"";
    background-image: url("/public/images/garrafeira/img1.jpeg");
    background-size: 100%;
    background-position-y: 90vh;
    position: absolute;
    display: inline;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

.garrafeira header h1{    
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--secondary-font);  
    color: var(--primary-color);
    background-color: var(--secondary-color);  
    position: relative;
    font-size: 5em;
    line-height: 0.9;
    text-align: center;
}

.garrafeira header p{
    position: relative;
    color: #fff;  
    font-size: 1em;
    line-height: 0.9;
    text-align: center;
}

.garrafeira main p{
    text-align:justify;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 5vw; 
    font-size: 1em;
    color: var(--primary-color);
}


.garrafeira main h2{
    text-transform: uppercase;
    font-family: var(--secondary-font)
    ;
    font-size: 1.4em;
    color: var(--primary-color);
    text-align: center;
    margin: 1.5em 0;
    font-weight: 200;
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.garrafeira button{
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
    padding: 1vh 2vw;
    border-radius: 4px;
    margin: 2vw;
    text-transform: uppercase;
}  
    
.garrafeira button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: color .3s ease-in-out;
}


.garrafeira li{
    color: var(--primary-color);
    padding: .5vh 2vw;
    font-weight: 400;

}

.garrafeira ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:left;
    font-weight: 100;
    margin: 5vh 7vw 10vh;
    line-height: 1.5em;
    font-size: 1.1em;
    height: 90vh;
}


@media screen and (max-width:750px){
    .garrafeira main{
        flex-direction: column;
        
    }
    .garrafeira li{
        list-style-type: none;
    }
}





