header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #043927;
    color: #fff;
}

.navbar ul{
    display: flex;
    list-style: none;
    padding: 0;
    color: #fff;
}

.navbar li{
    margin: 3vh 2vw 0;
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 600;
    color: #fff
}

a:hover, a:focus {
    color: #cad9cb;
}

.logo a{
    color: #fff;
    text-align: center;
    width: 100%;  
    font-weight: 400; 
    text-decoration: none;
    margin-left: 1vw;    
    font-family: 'Sail', cursive;
    font-style: normal;
    font-size: 1em;
}

.logo h1 a{
    font-size: 2.75em;
    margin-bottom: 0;
}

.logo h1{
    margin: 1.5em 0 ;
}

.logo p a{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
}

.logo p{
    text-align: center;
    margin: 0 auto 3vh;
}

.logo a:hover, .logo a:focus {
    color: #cad9cb;
}