
.header-info{
    background-color: #fff;
    color: #043927;
    text-align: center;
}

.header-info a{
    text-decoration: none;
    color: #043927; 
    display: inline-block;
    font-size: .85em;
    margin: .4em 1em .3em 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #043927;
    color: #fff;
}

.logo a{
    color: #fff;
    text-align: center;
    width: 100%;  
    font-weight: 400; 
    text-decoration: none;
    margin-left: 1vw;    
    font-family: 'Sail', cursive;
    font-style: normal;
    font-size: 1em;
}

.logo h1 a{
    font-size: 1.5em;
    margin-bottom: 0;
}

.logo h1{
    margin: 0.1em auto;
}

.logo p a{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
}

.logo p{
    text-align: center;
    margin-top: 0;
}

.logo a:hover, .logo a:focus {
    color: #cad9cb;
}

.navbar ul{
    display: flex;
    list-style: none;
    padding: 0;
    color: #fff;
}

.navbar li{
    margin: auto 2vw auto 2vw;
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 600;
    color: #fff
}

a:hover, a:focus {
   color: #cad9cb;
}

.reservations-btn{
    padding: 5px 10px 5px 10px;
    border: 2px solid #fff;
}