header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #043927;
    color: #fff;
}

/* NAV */

.navbar ul{
    display: flex;
    list-style: none;
    padding: 0;
    color: #fff;
}

.navbar li{
    margin: 3vh 2vw 0;
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 600;
    color: #fff;
}

.navbar a:hover {
    color: #cad9cb;
    border-bottom: .1em solid #cad9cb;
}

/* LOGO */


.logo img{
    width: 20vw;
    margin: 4vh 25vw 2vh 1vw ;
}


/* HAMBURGUER */

.hamburguer button{
    background: none;
    border: none;
    width: 10vw; 
    cursor: pointer;
}

.hamburguer img{
    max-width: 100%;
} 

.hamburguer{
        display: flex;   
        margin:  0;
    }

/* MEDIA QUERIES */

@media screen and (max-width:1082px){
        .navbar ul{
            display: none;
        }
        .header-info{
            display: none;
        }
        .hamburguer button{
            width: 5vw;
        }
    }
@media screen and (min-width:1082px){
   .hamburguer{
    display: none;
    }
       
}


        
