.homepage{
    font-style: normal;
    background-color: #fff;
   
}
.header-info {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    color: #043927;
    text-align: center;
    z-index: 3;
}

.header-info a{
    text-decoration: none;
    color: #043927; 
    font-size: .85em;
    margin: .4em 1em .3em 1em;
}

.header-info a:hover {
    color: #cad9cb;
    transition-duration: 0.4;
}

.apresentação{
    color: #043927;;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 15vh;
    font-size: 1.1em;
}

.sobre-nós, .o-nosso-menu, .localização, .reserve-já{
    height: 20vh;
}

.sobre-nós{
    grid-row: 1;
    justify-self: left;
    text-align: left;
}

.o-nosso-menu{
    grid-row: 2;
    justify-self: right;
    text-align: right;
}

.localização{
    grid-row: 3;
    justify-self: left;
    text-align: left;

}

.reserve-já{
    grid-row: 4;
    justify-self: right;
    text-align: right;

}
.apresentação button {
    width: 10vw;
    margin: 1em;
    height: 7vh;
    background-color: #043927;
    border: #fff double .5vw;
    transition-duration: 0.4s;
}

.apresentação button a{
    text-decoration: none;
    color: #fff;
}

.apresentação button:hover{
    background-color: #cad9cb;
}

@media screen and (max-width:750px){
    .header-info{
        position: fixed;
        z-index: 1;
        top: 13vh;
    }

}
    
