.menu header{
    background-color: #043927;
    position: relative; 
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu header::before{    
    content:"";
    background-image: url("/public/images/o-restaurante/img1.jpeg");
    background-size:cover;
    position: absolute;
    display: inline;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.menu header h1{
    position: relative;
    color: #fff;  
    font-size: 5em;
    line-height: 0.9;
    text-align: center;
}

.menu main{
    display: flex;
    text-align: center;
    line-height: 1.5em;
    margin: 0 5vw; 
    font-weight: 500;
    font-style: normal;
    font-size: 1.1em;
}

.menu main h2{
    text-align: center;
    text-transform: uppercase;
    margin: 1.5em 0 .7em;
    font-weight: 600;
    font-size: 1.5em;
}

.menu li{
    list-style: circle;
}


