
.form-page{
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
}

.form{
    background-color: #fff ;
    color: #043927;
    border: double .5em #043927;
    padding: 0 1em 1em;
    font-size: 1.2em;
    text-align: center;
}

label{
    display: grid;
    place-content: center;
    margin: 1em auto;
}

small{
    font-size: .7em;
}

textarea{
    width: 20vw;
    height: 8vh;
}



/* Esconder as setas que aparecem automáticamente no formulário de tipo numérico */
label .no-arrow {
    width: 12vw;
    -moz-appearance: textfield;
}
  
label .no-arrow::-webkit-inner-spin-button {
    display: none;
}
  
label .no-arrow::-webkit-outer-spin-button, .no-arrow::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

