.sidebar, .close-sidebar{
    display: none;
}

@media screen and (max-width:750px){
    .sidebar{ 
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        transition: 0.5s ease;    
        width: 50vw;
        height: 100vh;
        background-color: var(--tertiary-color);
        flex-direction: column;
        z-index: 2;
    }

    .sidebar ul a{
        color: var(--primary-color);
        display: flex;
        font-weight: 500;  
        font-style: normal;    
        text-transform: uppercase;  
        flex-direction: column;
        text-align: center;
        margin: 1em;
        z-index: 5;
        box-shadow: inset 0 0 0 0 var(--primary-color);
        transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
    }

    .sidebar ul a:hover {
        box-shadow: inset 200px 0 0 0 var(--primary-color);
        color: var(--secondary-color);
    }

    .first-li{
        margin-top: 40vh;
    }

    .close-sidebar{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh; 
        flex-direction: column;
        z-index: 6;
    }

    .close-sidebar button{
        background: none;
        border: none;
        cursor: pointer;
    }

    .close-sidebar img{
        margin: 1em;
        width: 25px; 
    }       

}
    

