.sidebar, .close-sidebar{
    display: none;
}

@media screen and (max-width:1095px){
    .sidebar{ 
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        transition: 0.5s ease;    
        width: 50vw;
        height: 100vh;
        background-color: #043927;
        z-index: 5;
        flex-direction: column;
    }

    .sidebar ul a{
        color: #fff; 
        display: flex;
        font-weight: 500;  
        font-style: normal;    
        text-transform: uppercase;  
        flex-direction: column;
        text-align: center;
        margin: 1em;
    }

    .sidebar ul a:hover {
        color: #cad9cb;  
    }

    .first-li{
        margin-top: 40vh;
    }

    .close-sidebar{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh; 
        flex-direction: column;
        z-index: 5;
    }

    .close-sidebar button{
        background: none;
        border: none;
        cursor: pointer;
    }

    .close-sidebar img{
        margin: 1em;
        width: 25px; 
    }     
}
