@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    scroll-behavior: smooth;
    font-weight: 500;
	margin: 0;
}

:root{
    --secondary-font: 'Cormorant Upright', serif;
    --main-font: 'Open Sans', sans-serif;
    --primary-color: #b78968; 
    --secondary-color: #fff;
    --tertiary-color: #000;
   
}

body a{
    cursor: pointer;
    text-decoration: none;
}

body{
    font-family: var(--main-font) ;
    color:var(--primary-color);
    background-color: var(--tertiary-color);
}













 